<!DOCTYPE html>
<html>
<head>
  <title>Gms</title>
  <%= stylesheet_link_tag    "gms/application", media: "all" %>
  <%= javascript_include_tag "gms/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
